.header{
    background-color: #001220;
    display: block;
    width: 100%;
    height: 90px;
}

.logo a{
    font-size: 30px;
    display: table;
    float: left;
    margin: 20px;
    padding-left: 25px;
    color: #ec9355;
    font-style: italic;
}

.first{
    display: block;
    margin-right: 70px;
}

.navbar{
    float: right;
}
.navbar a{
    display: table;
    float: left;
    padding: 30px 30px;
    font-size: 18px;
    color: #ec9355;
}
.navbar a:hover{
    background-color: #ec9355;
    transition: 0.8s;
    color: #001220;
}